* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: #e83655;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.animation {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1000px;
}

.animation_wrap {
  width: 200%;
  height: 0;
  padding-bottom: 120%;
  position: relative;
  overflow: hidden;
  margin-left: -50%;
}

@media screen and (min-aspect-ratio: 5/8) {
  .animation_wrap {
    width: 150%;
    padding-bottom: 90%;
    margin-left: -25%;
  }
}
@media screen and (min-aspect-ratio: 3/4) {
  .animation_wrap {
    width: 100%;
    padding-bottom: 60%;
    margin-left: 0;
  }
}
.animation_wrap svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bottom_snow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 7.4%;
}

@media screen and (min-aspect-ratio: 4/3) {
  .bottom_snow {
    display: none;
  }
}
.bottom_snow svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.snow {
  height: 100%;
  position: absolute;
  width: 100%;
}